# String

1. Write a program to reverse a string.

In [1]:
user = input("Enter a word: ")

Enter a word:  Python

In [2]:
reverse_user = user[::-1]

In [3]:
print(reverse_user)

nohtyP

1. We declare a varibale user so they can take input from the user 
2. By using slicing of string we are reversing a string
3. After we are printing the reverse string

2. Check if a string is a palindrome.

In [4]:
a = input('Enter a word: ').lower()

Enter a word:  rotator

In [5]:
reverse_a = a[::-1]
if a == reverse_a:
    print('Its a palindrome')
else:
    print('Its not a palindrome')

Its a palindrome

1. We are declaring variable a which takes the input from the user.
2. After we are reversing a string using slicing 
3. We are using conditional statement if a == reverse_a then print the string is an palindrome otherwise it's not an palindrome.

3. Convert a string to uppercase.

In [6]:
a = input('Enter a word: ')

Enter a word:  python

In [8]:
uppercase_a = a.upper()
print(uppercase_a)

PYTHON

1. We are declaring varible a which are taking the user input
2. for converting string into the upper case we are using the function .upper() for converting all characters of an string into an upper case

4. Convert a string to lowercase.

In [9]:
a = input('Enter a word: ')

Enter a word:  Python

In [10]:
lowercase_a = a.lower()
print(lowercase_a)

python

1. We are declaring varible a which are taking the user input
2. for converting string into the lower case we are using the function .lower() for converting all characters of an string into an lower case

5. Count the number of vowels in a string.

In [13]:
user = input('Enter a sentence: ').lower()

Enter a sentence:  I am learning python

In [15]:
vowels = 0
for user in 'aeiou':
    vowels += 1
print(f' The number of vowels in a sentence in string is {vowels}')

 The number of vowels in a sentence in string is 5

1. We are declaring a varibale user in which they take the input from the user 
2. we are declaring another variables called vowels and set them as 0.
3. for counting vowels we are using for loops what for loop is doing is that they are itering through all the characters in which the user type and then checking if vowels like 'aeiou' is present in that sentence or not if its present then it will add up by 1 and stored into the varibale called vowels.

6. Count the number of consonants in a string.

In [16]:
user = input('Enter a sentence: ').lower()

Enter a sentence:  I am learning python

In [30]:
consonants = 0
for users in user:
    word = users.replace(' ', '')
    if word not in 'aeiou':
        consonants += 1
    
print(f' The number of consonants in a sentence is {consonants}')

 The number of consonants in a sentence is 11

1. We are declaring a varibale user in which they take the input from the user 
2. we are declaring another variables called  and consonants them as 0.
3. for counting consonants we are using for loops what for loop is doing is that they are itering through all the characters in which the user type and then checking if chaaracters not in 'aeiou' is present in that sentence or not if its not present then it will add up by 1 and stored into the varibale called consonants.

7. Remove all whitespaces from a string.

In [37]:
user = ''' I am learning pyhton\n using on a daily basis'''

In [40]:
print(user.replace(' ', ''))

Iamlearningpyhton
usingonadailybasis

8. Find the length of a string without using the `len()` function.

In [44]:
user = input('Enter a sentence: ')

Enter a sentence:  I am learning Python

In [49]:
len_string = 0
for users in user:
    len_string += 1
print(f'The length of string without using len() is {len_string}')
# with len function:
with_len = len(user)
print(f'The length of string using len() {with_len}')

The length of string without using len() is 20
The length of string using len() 20

1. Declaring a varible called user which take the input from the user
2. Then declaring another variable called len_string which is having a value of zero
3. Now using for loop it will iterate through all character which is present inside the variable user in which user has type something.while iterating each character of an variable user it will add up +1 into the len_string variable.
4. After completing for loop it will show length of an string which is present inside the user variable

9. Check if a string contains a specific word.

In [1]:
a = input('Enter a sentence: ').lower()

Enter a sentence:  I am learning python

In [4]:
b = input('enter a specific word to check: ').lower()

enter a specific word to check python

In [5]:
if b in a:
    print('These word is present')
else:
    print('These word is not present')

These word is present

1. Decalaring a variable a which takes input from the user
2. Declaring another varibale b which takes another input from the user 
3. We are applying conditional statements if the user type in varibale b is present in user type varibale a if that word is present then it will printed as these word is present otherwise these word is not present.

10. Replace a word in a string with another word.

In [1]:
a = 'I am learning python'

In [2]:
replace_word = a.replace('python','java')
print(replace_word)

I am learning java

1. Declaring a variable a and inside that variable define one string i.e. 'I am learning Python'
2. Declaring another variable called replace_word in which by using the .replace function replacing one word from that string
3. for replacing word taking just an example replacing python with jave with help of replace function it will replace word into another variable replace_word

11. Count the occurrences of a word in a string.

In [1]:
a = ' I am learning python'

In [5]:
count = 0
b = 'learning'
if b in a:
    count += 1
print(f'The count of occurences is {count}')

The count of occurences is 1

1. Decalaring a variable a defining one string " I am learning python
2. Declaring another varibale b which define another string i.e 'learning'.
3. We are applying conditional statements if the user type in varibale b is present in user type varibale a if that word is present that string it will +1 to the count variable and print that how many time that word occurs.

12. Find the first occurrence of a word in a string.

In [5]:
a = ' I am learning python'
b = 'learning'

In [6]:
first_occurence = a.find(b)
print(f'The first occurrence of an word is at index {first_occurence}')

The first occurrence of an word is at index 6

1. Decalaring a variable a defining one string " I am learning python
2. Declaring another varibale b which define another string i.e 'learning'.
3. We are using find fucntion to find first occurence of an word at which index it is present

13. Find the last occurrence of a word in a string.

In [8]:
a = ' I am learning python. I am learning java as well'
b = 'learning'

In [10]:
last_occurence = a.rfind(b)
print(f'The last occurrence of an word is at index {last_occurence}')

The last occurrence of an word is at index 28

1. Decalaring a variable a defining one string " I am learning python. I am learnig java as well."
2. Declaring another varibale b which define another string i.e 'learning'.
3. We are using find fucntion to find last occurence of that word at which index it is present and print that index number

14. Split a string into a list of words.

In [11]:
a = 'I am learning python'

In [12]:
list_a = a.split()
print(list_a)

['I', 'am', 'learning', 'python']

1. Decalaring a variable a defining one string " I am learning python."
2. Declaring another varibale list_a.
3. By using .split() funtion for converting all the characters of an string into a list of string.

15. Join a list of words into a string.

In [21]:
a = ['I', 'am', 'learning', 'python']

In [27]:
join_string = " ".join(a)
print(join_string)

I am learning python

1. Decalaring a variable a defining list of string [ 'I', 'am', ' learning', ' python']
2. Declaring another varibale join_string.
3. By using .join(1) funtion for joining all the characters present in a list into an string.

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [29]:
a = 'I am learning python'

In [31]:
underscore_string = a.replace(' ','_')
print(underscore_string)

I_am_learning_python

1. Decalaring a variable a defining string with spaces 'I am learning python'
2. Declaring another varibale underscore_string to convert string with spaces to underscore string.
3. By using .replace() funtion replace all ' ' with '_' and print that underscore_string.

17. Check if a string starts with a specific word or phrase.

In [32]:
a = "Hello I am learning python"

In [35]:
b = 'Hello'

In [34]:
if a[0] == b:
    print("The sentence start with a specific word or phrase")
else:
    print("The sentence not start with a specific word or phrase")

The sentence start with a specific word or phrase

1. Decalaring a variable a defining string 'Hello I am learning python'
2. Declaring another varible b we are defining string 'Hello'.
3. Defining conditional statement if a at index 0 is equal to b then we are printing the statement as The sentence starts with an specific word or phrase.

18. Check if a string ends with a specific word or phrase.

In [36]:
a = "Hello I am learning python"

In [37]:
b = 'python'

In [38]:
if a[-1] == b:
    print("The sentence ends with a specific word or phrase")
else:
    print("The sentence not ends with a specific word or phrase")

The sentence not ends with a specific word or phrase

1. Decalaring a variable a defining string 'Hello I am learning python'
2. Declaring another varible b we are defining string 'pyhton'.
3. Defining conditional statement if a at index -1 is equal to b then we are printing the statement as The sentence ends with an specific word or phrase.

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [39]:
a = 'hello world'

In [40]:
title_case = a.title()
print(title_case)

Hello World

1. Decalaring a variable a defining string 'hello world'
2. Declaring another varible title_case for converting string into title case.
3. By using .title function we are converting normal string into title case string.

20. Find the longest word in a string.

In [15]:
a = 'I am learning python'

In [17]:
b = a.split()
longest_word = ' '
for i in range(len(b)):
    if len(b[i]) > len(longest_word):
        longest_word = b[i]
print(f'The longest word is {longest_word}')

The longest word is learning

1. Declare variable a in which defining string 'I am learning python'
2. Declare another variable b in which we are converting all string characters into a list of words
3. Applying for loop by using range function what range function does is it will iteratte through len(b) all characters in a list one by one.
4. Applying conditional statement if len(b[i]) > len(longest_word) this line means if any character which is greater than the longest word. The longest word is defing as an empty string. If any character is greater than longest_word then the longest_word is equal to that word which is having highest length than any other words.
5. After that we are printing longest word

20. Find the Shortest word in a string.

In [4]:
a = 'Python java scala'

In [6]:
b = a.split()
shortest_word = b[0]
for i in range(len(b)):
    if len(b[i]) < len(shortest_word):
        shortest_word = b[i]
print(f'The shortest word is {shortest_word}')

The shortest word is java

1. Declare variable a in which defining string 'Python java scala'
2. Declare another variable b in which we are converting all string characters into a list of words
3. Applying for loop by using range function what range function does is it will iteratte through len(b) all characters in a list one by one.
4. Applying conditional statement if len(b[i]) < len(shortest_word) this line means if any character which is less than the longest word. The shortest word is defing as an string which have contain first element of b. If any character is less than longest_word then the shortest_word is equal to that word which is having lowest length than any other words.
5. After that we are printing shortest word

22. Reverse the order of words in a string.

In [7]:
a = 'I am learning python'

In [20]:
b = a.split()[::-1]
reverse_order = ' '.join(b)
print(reverse_order)

python learning am I

1. Declare variable a in that variabel defining one string '  I am learning python'
2. To convert into list split() function is used and reverse the string by using slicing
3. Declare another variable reverse_order by using join() function we join the string with spaces between each character and reverse the order of string

23. Check if a string is alphanumeric.

In [29]:
a = 'python1235'

In [30]:
if a.isalnum():
    print('These string is alphanumeric')
else:
    print('These string is not alphanumeric')

These string is alphanumeric

1. Declare variable a in that variable we are defining one string 'python1234'
2. To check string alphanumeric or not we are using function isalnum(). These function helps either string is alphanumeric or not. Either string is having alphabets or else number or alphabet + number these are called as alphanumeric
3. If alphabets and numbers having white spaces for e.g python 1234 then this is not a alphanumeric string.
4. we are defining conditional statement if a.isalnum() then print the these string is alphanumeric

24. Extract all digits from a string.

In [66]:
a = 'pyhton1234 java1234 scala1234'

In [71]:
extracted_number = ''

In [72]:
for i in a:
    if i.isdigit():
        extracted_number += i
print(extracted_number)

123412341234

1. Declare the variable a define input string 'python1234 java1234 scala1234'.
2. Declare another variable extracted number as empty string 
3. By using for loop iterate through all the characters of string inside a
4. By using conditional statement and digit() function allows if any charcter is number it returns true and then it will stored inot extract_number after all the iteration we will print that ectracted_number

25. Extract all alphabets from a string.

In [81]:
a = 'pyhton1234 java1234 scala1234'

In [82]:
extracted_alphabets = ''

In [83]:
for i in a:
    if i.isalpha():
        extracted_alphabets += i
print(extracted_alphabets)

pyhtonjavascala

1. Declare the variable a define input string 'python1234 java1234 scala1234'.
2. Declare another variable extracted alphabets as empty string 
3. By using for loop iterate through all the characters of string inside a
4. By using conditional statement and isalpha() function allows if any charcter is alphabet it returns true and then it will stored into extract_alphabets after all the iteration we will print that extracted_alphabets

26. Count the number of uppercase letters in a string.

In [84]:
a = 'Hello World'

In [85]:
count_uppercase = 0

In [86]:
for i in a:
    if i.isupper():
        count_uppercase += 1
print(count_uppercase)

2

1. Declare the variable a define input string 'Hello World'.
2. Declare another variable count_uppercase set th value as 0 
3. By using for loop iterate through all the characters of string inside variable a
4. By using conditional statement and isupper() function allows if any charcter is in uppercase it returns true and then it will add + 1 to the count_uppercase and print count_uppercase

26. Count the number of lowercase letters in a string.

In [87]:
a = 'Hello World'

In [89]:
count_lowercase = 0

In [90]:
for i in a:
    if i.islower():
        count_lowercase += 1
print(count_lowercase)

8

1. Declare the variable a define input string 'Hello World'.
2. Declare another variable count_uppercase set th value as 0 
3. By using for loop iterate through all the characters of string inside variable a
4. By using conditional statement and islower() function allows if any charcter is in lowercase it returns true and then it will add + 1 to the count_lowercase and print count_lowercase

28. Swap the case of each character in a string.

In [96]:
a = 'hello WORLD'
b = ''

In [95]:
for i in a:
    if i.isupper():
        b += i.lower()
    elif i.islower():
        b += i.upper()
print(b)

HELLOworld

1. Declare the variable a define input string 'hello WORLD'.
2. Declare another variable b as empty string.
3. By using for loop iterate through all the characters of string inside variable a
4. By using conditional statement if any character is having uppercase character we are chechkin by using isupper() function allows if any charcter is in uppercase it returns true and then it will add on to empty string b and then covert it into lower case character by using .lower() function
5. Same goes for lower case characterts instead of converting into lower case we are convertint it into upper case functions

29. Remove a specific word from a string.

In [98]:
a = 'I am learning python'

In [101]:
b = a.replace('learning','')
print(b)

I am  python

1. Declare variable a inside that variable define 'I am learning python'
2. Declare another variable b and we are using replace function to replace learning with a empty character this is how we remove a specific character from string using replace() function

30. Check if a string is a valid email address.

In [3]:
#!pip install email_validator
from email_validator import validate_email,EmailNotValidError

In [4]:
email = 'devil692@email.com'

In [5]:
validate_mail = validate_email(email)

In [6]:
print(validate_mail)

<ValidatedEmail devil692@email.com>

In [7]:
if validate_mail:
    print('Valid email Id')

Valid email Id

1. Import library called email_validator
2. Declaring variable email inside that we are defining string
3. Declaring another variable validate email inside that validate_email variable we are defing one function called validate_email and inside that function we are paasing argument validate_email(email).
4. These function does that if email is invalid they will give us an error directctly.

31. Extract the username from an email address string.

In [8]:
email = 'DEvil@email.com'

In [13]:
extract_username = email.split('@')

In [14]:
print(extract_username[0])

DEvil

1. Declare a variable email inside these we define one email
2. By using split function we are split the email by using "@"
3. extract the user name by using slicing methods in list

32. Extract the domain name from an email address string.

In [2]:
email = 'Devil@email.com'

In [5]:
extract_domainname = email.split('@')

In [7]:
print(extract_domainname[1])

email.com

1. Declare a variable email inside these we define one email
2. By using split function we are split the email by using "@"
3. extract the domain name by using slicing methods in list

33. Replace multiple spaces in a string with a single space.

In [8]:
a = 'I   am  Learning    python'

In [21]:
b = ' '.join(a.split())
print(b)

I am Learning python

1. Declare a variable a insided that define a string called 'I   am learning    Python'
2. In this string having an multiple spaces between each character.
3. In order to takcle this problem we are using join function and split function.
4. Inside the join fuction we are using split function and joining with an single spaces

34. Check if a string is a valid URL.

In [35]:
#!pip install validators
import validators
url = "http://www.google.com"

In [36]:
validate_url = validators.url(url)

In [37]:
if validate_url:
    print('These url is valid')
else:
    print('These url is not valid')

These url is valid

1. We are installing library called validators
2. We are importing the library validators
3. Declaring a variable called url inside that url we are defining string of url
4. By using conditional statement if validate_url is True then it will print 'These url is valid'

35. Extract the protocol (http or https) from a URL string.

In [40]:
url = "http://www.google.com"

In [41]:
extract_http = url.split(':')

In [42]:
print(extract_http[0])

http

1. Declare a variable url inside these we define one email
2. By using split function we are split the email by using ":"
3. extract the http by using slicing methods in list

36. Find the frequency of each character in a string.

In [43]:
a = 'hello world'

In [46]:
frequency ={}
for i in a:
    if i in frequency:
        frequency[i] += 1
    else:
        frequency[i] = 1

In [48]:
for i,j in frequency.items():
    print(f"Character : {i} , frequency: {j}")

Character : h , frequency: 1
Character : e , frequency: 1
Character : l , frequency: 3
Character : o , frequency: 2
Character :   , frequency: 1
Character : w , frequency: 1
Character : r , frequency: 1
Character : d , frequency: 1

1. Decalring a variable called a and inside that variable we are defining string
2. Declaring another variable with an empty dictionary
3. Using for loop iterating all characters which are present in a
4. we are using conditional statement if any character present in frequency we will store that character in dictionary and also see that if any characater is present twice it will added to +1 and if any character present only 1 time then it will count as only 1

37. Remove all punctuation from a string.

In [50]:
import string
a = 'Hello!, World!!!'

In [53]:
b = a.translate(str.maketrans('','',string.punctuation))

In [54]:
print(b)

Hello World

1. Importing library called string
2. Declaring a variable called a inside that variable we are defining string
3. Declaring another variable called b and inside that varibale we are using string library by using translate method to remove all punchuation from the string.

38. Check if a string contains only digits.

In [59]:
a = '123456'

In [60]:
if a.isdigit():
    print('These string contains only digits')
else:
    print('These string does not contains only digits')

These string contains only digits

1. Declaring a variable called a inside that varibale we are defining one string
2. Declaring conditional statement and using isdigit function if string contains only digits and if its True then print 'These string contains only digits'

39. Check if a string contains only alphabets.

In [63]:
a = 'Python'

In [64]:
if a.isalpha():
    print('These string contains only alphabet')
else:
    print('These string does not contain only alphabet')

These string contains only alphabet

1. Declaring a variable called a inside that varibale we are defining one string
2. Declaring conditional statement and using isalpha function if string contains only alphabet and if its True then print 'These string contains only alphabet'

40. Convert a string to a list of characters.

In [67]:
a = 'Python'

In [68]:
b = list(a)
print(b)

['P', 'y', 't', 'h', 'o', 'n']

1. Declaring Variable called a inside that variable we are defining one string
2. Declaring another variable b inside that variable by using type conversion which converting string that is inside the variable a. By using list(a) method it will automatically converts all characters inside variable a into an list

41. Check if two strings are anagrams.

In [72]:
a = 'race'
b = 'care'

In [74]:
if len(a) == len(b):
    if sorted(a) == sorted(b):
        print(f' {a} and {b} are anagrams')
    else:
        print(f' {a} and {b} are not anagrams')

 race and care are anagrams

1. Declare variable a inside that variable we are defining one string
2. Declare another variable b inside that variable we are defining another string.
3. Now using conditional statement if both len of strings are equal to each other then it will check another if stetment that by using sorted function it will sort the characterb of the strings into an ascenting order.
4. If both are same then it will print both strings are anagrams.

42. Encode a string using a Caesar cipher.

In [75]:
character = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't',
             'u', 'v', 'w', 'x', 'y', 'z']

In [103]:
user_input = input('Enter a word to encode : ')
shift = int(input('Enter a shift number: '))%26

Enter a word to encode :  hello
Enter a shift number:  5

In [104]:
def encode(text, shift_amount):
    encode_text = ''
    for char in text:
        position = character.index(char)
        new_position = position + shift_amount
        new_letter = character[new_position]
        encode_text += new_letter
    print(f' The encoded text is {encode_text}')

In [105]:
encode(user_input, shift)

 The encoded text is mjqqt

1. Declare a variable called character inside that character we are declaring list of characters
2. Declaring two more variables called user_input in user input we will take that message from the user end and shift which is having a data type of integer it is also taking how much shift it want to make from the user one end.
3. Defining a function called encode in encode function we are defining two arguments text and shift_amount.
4. Inside that function we are declaring another variable called encode_text which is an empty string.
5. By using for loop all iteratin through all the text. Text is basically character which we are mentioning in our Function.
6. After iterating through each of the text we are declaring another variable called position inside that psosition by .index() we are checking index of each character which have user type in there message it will return as indext number of each character.
7. After that we are declaring another variable which new_position. What new_position does is that it will take the last position of each index in which user have type it will added to each shift amount in which user will enter how much shift of text they want.
8. Declaring another variable inside that variable it will that new position of each character and replacing with the another character  and storing into an new_letter.
9. After that whatever stored into the new_letter variable it will add on the the encode text variable and then print the encode text.
10. At last we call the function inside that function we are passing two arguments first is user_input and shift_amount.

43. Decode a Caesar cipher encoded string.

In [99]:
character = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't',
             'u', 'v', 'w', 'x', 'y', 'z']

In [100]:
user_input = input('Enter a word to encode : ')
shift = int(input('Enter a shift number: '))%26

Enter a word to encode :  mjqqt
Enter a shift number:  5

In [101]:
def decode(text, shift_amount):
    decode_text = ''
    for char in text:
        position = character.index(char)
        new_position = position - shift_amount
        new_letter = character[new_position]
        decode_text += new_letter
    print(f' The encoded text is {decode_text}')

In [102]:
decode(user_input,shift)

 The encoded text is hello

1. Declare a variable called character inside that character we are declaring list of characters
2. Declaring two more variables called user_input in user input we will take that message from the user end and shift which is having a data type of integer it is also taking how much shift it want to make from the user one end.
3. Defining a function called decode in decode function we are defining two arguments text and shift_amount.
4. Inside that function we are declaring another variable called encode_text which is an empty string.
5. By using for loop all iteratin through all the text. Text is basically character which we are mentioning in our Function.
6. After iterating through each of the text we are declaring another variable called position inside that psosition by .index() we are checking index of each character which have user type in there message it will return as indext number of each character.
7. After that we are declaring another variable which new_position. What new_position does is that it will take the last position of each index in which user have type it will substract to each shift amount in which user will enter how much shift of text they want.
8. Declaring another variable inside that variable it will that new position of each character and replacing with the another character  and storing into an new_letter.
9. After that whatever stored into the new_letter variable it will add on the the decode text variable and then print the decode text.
10. At last we call the function inside that function we are passing two arguments first is user_input and shift_amount.

44. Find the most frequent word in a string.

In [10]:
from collections import Counter
a = 'Hello world Hello mean'
b = a.replace(" ", '')
c = b.split()

In [15]:
d = Counter(c)
frequent_word = d.most_common(1)
print(frequent_word)

[('HelloworldHellomean', 1)]

45. Find all unique words in a string.

In [16]:
a = " Hello word Hello"

In [18]:
b = set(a.split())
print(b)

{'word', 'Hello'}

1. Declare variable a inside the variable we define string
2. Using data type conversion set() the functionality of set is it will take only unique values only it will eliminate duplicate values

46. Count the number of syllables in a string.

In [77]:
a = 'Pyhton'

In [78]:
b = 'aeiou'

In [79]:
count_syllables = 0
for i in a:
    if i in b:
        count_syllables += 1
        
print(f'{a} has {count_syllables} syllables')

Pyhton has 1 syllables

1. Declare a varibale a inside that variable we are defining one string
2. Declare another variable b inside that variable we are definig another string which is having vowels
3. Declare anotherb variable called count_syllables which is set them as 0
4. By using for loop iterating each characters inside the variable and adding conditional statement if any vowels are present in string then this add up by 1 and stored into the variable called count_variable
5. Print the result

47. Check if a string contains any special characters.

In [36]:
a = 'Python@1234'
b ='@#$%^&*?<>:;?|'

In [37]:
for i in b:
    if i in a:
        print("The string contain special Character")

The string contain special Character

1. Declare a varibale a inside that variable we are defining one string
2. Declare another variable b inside that variable we are definig another string which is having special characters
3. By using for loop iterating each characters inside the variable and adding conditional statement if any special character are present in string then print the statement as these string having special characters

48. Remove the nth word from a string.

In [49]:
a = 'I am learning python'
n = 3

In [50]:
b = a.split()

In [51]:
c = b.pop(n)

In [52]:
d = ' '.join(b)
print(d)

I am learning

1. Dcelare a variable a and inside that variable we are defining one string.
2. Define another variable and inside that variable we set them as 3.
3. First we split that string and coverted into the list.
4. After converting into the list we know that string is mutable object we are using one mehtod in list called pop by using pop method we are giving index postion as an argument in pop. The index position is our variabal.
5. After removing word now we are converting back to normal string in this case we are using the join function after using the join funtion we converted string into the normal string and also print that string.

49. Insert a word at the nth position in a string.

In [57]:
a = 'I am learning'
n = 3
add = 'Python'

In [58]:
b = a.split()

In [62]:
c = b.insert(n,add)

In [61]:
d = ' '.join(b)
print(d)

I am learning Python

1. Declare a variable a and inside that variable we are defining one string.
2. Define another variable and inside that variable we set them as 3.
3. First we split that string and coverted into the list.
4. After converting into the list we know that string is mutable object we are using one mehtod in list called insert by using insert method we are giving index postion as an argument in insert . The index position is our variable n and adding word is add varibale.
5. After inserting word now we are converting back to normal string in this case we are using the join function after using the join funtion we converted string into the normal string and also print that string.

50. Convert a CSV string to a list of lists.

In [63]:
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

In [74]:
data = csv_data.split('\n')
list_of_list = []
for i in data:
    line = i.split(',')
    list_of_list.append(line)

In [75]:
for data in list_of_list:
    print(data)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

1. Declaring a variable csv_data inside the variable we are defining a csv data
2. First we are seperating the csv data by using split function and we are spliting string by '\n'.
3. Declaring another varible called list_of_list which is an empty list here.
4. By using for loop and iterating all the character inside the data after that we are spliting string again by using split function and and these we are spliting with a character ","
5. After that declaring variablw line is converted into the list and now in list there is an function called append
6. By using append function we are adding all the charaters inside the line function into the list_of_list function
7. If we print the list_of_list variable we can see that all line are inside the list of list.
8. In or

# List

1. Create a list with integers from 1 to 10.

In [5]:
a = []

In [6]:
for i in range(1,11):
    a.append(i)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

1. Declare variable a inside that variable a we define a empty list.
2. By using for loop and using range function what range function does is it will iterate throught all the numbers between 1 to 11.
3. Here we are using 11 as an end number because what range function it will end number from the last number -1 thats why we have mention 11 as an end number
4. Atlast by using append function it will stored all the numbers which are iterating through for loop and after for loop ends then we get our full list of numbers and print the list a

2. Find the length of a list without using the `len()` function.

In [7]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
len_list = 0
for i in a:
    len_list += 1
print(f' The length of list is {len_list}')

 The length of list is 10

1. Declaring variable a with alist of 10 numbers.
2. Declaring another variable len_list we are set them as 0.
3. By using for loop what for loop does is that it will iterate through all the numbers inside the list at the ttime of iterating through each numbers in a list.The len_list added by +1 at each time iterating 1 number
4. We are printing the length of list.

3. Append an element to the end of a list.

In [11]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
a.append(11)

In [13]:
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

1. Declare a variable with a list of numbers.
2. By using the append function what append function does is it will add the number to the last element to the list.
3. Print that list

4. Insert an element at a specific index in a list.

In [14]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
a.insert(3,9)

In [16]:
print(a)

[1, 2, 3, 9, 4, 5, 6, 7, 8, 9, 10]

1. Declare a variable a with a list of numbers.
2. By using the insert function it will take the two arguments. First it will take index number at what index we want to place the element and second arguments is that what element we want to place at that specific index number.
3. Print the list.

5. Remove an element from a list by its value.

In [17]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
a.remove(2)

In [19]:
print(a)

[1, 3, 4, 5, 6, 7, 8, 9, 10]

1. Declare a variable a with a list of numbers.
2. By using the remove function it will take the one arguments i.e which we want to remove from the list.
3. Print the list.

6. Remove an element from a list by its index.

In [20]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
a.remove(a[4])

In [22]:
print(a)

[1, 2, 3, 4, 6, 7, 8, 9, 10]

1. Declare a variable a with a list of numbers.
2. By using the remove function it will take the one arguments i.e list[index number] which we want to remove from the list.
3. Print the list.

7. Check if an element exists in a list.

In [25]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
n = 3

In [26]:
if n in a:
    print('These element present in the list')
else:
    print('These element not present in the list')

These element present in the list

1. Declare a variable a with a list of numbers.
2. By using the conditional statement if n which is mention the element we want to search in the list.
3. If it is present in the list then print 'These element present in the list' other wise print ' These element not present in the list'

8. Find the index of the first occurrence of an element in a list.

In [28]:
a = [1, 2, 4, 5, 6, 10, 20, 10]
n = 10

In [29]:
b = a.index(n)

In [31]:
print(f" The index of {n} is {b}")

 The index of 10 is 5

1. Declare a variable a with a list of numbers.
2. By using the index function it will find the index of number of times element occurs in the list

9. Count the occurrences of an element in a list.

In [32]:
a = [1, 2, 4, 5, 6, 10, 20, 10]
n = 10

In [33]:
b = a.count(n)

In [34]:
print(f" The element {n} occurs {b}")

 The element 10 occurs 2

1. Declare a variable a with a list of numbers.
2. By using the count function it will count the number of times that element occurs in the list.
3. Print the result

10. Reverse the order of elements in a list.

In [36]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [37]:
a[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

1. Declare a variable a with a list of numbers.
2. By using slicing in the list we are reversing the oreder of the list.
3. Print the result

11. Sort a list in ascending order.

In [39]:
a = [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [40]:
a.sort()

In [41]:
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

1. Declare a variable a with a list of numbers.
2. By using using the sort function in list it will sort all the numbers which are present insidie the list.
3. Print the result

12. Sort a list in descending order.

In [42]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [43]:
a.sort(reverse= True)

In [44]:
print(a)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

1. Declare a variable a with a list of numbers.
2. By using using the sort function inside the sort function one parameter reverse = false by default we are setting them as True and as an result it will sort the list by descending order.
3. Print the result

13. Create a list of even numbers from 1 to 20.

In [45]:
a = []

In [46]:
for i in range(1,21):
    if i%2 == 0:
        a.append(i)
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

1. Declare a variable a a with a empty list.
2. By using for loop and range function.It will iterate through all the numbers in the range between 1,21.
3. By applying condition statement for even number if that number is divisble by 2 and having the remainder 0 then only that number will add into that list.
4. Print the result.

14. Create a list of odd numbers from 1 to 20.

In [1]:
a = []

In [2]:
for i in range(1,21):
    if i%2 != 0:
        a.append(i)
print(a)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

1. Declare a variable a a with a empty list.
2. By using for loop and range function.It will iterate through all the numbers in the range between 1,21.
3. By applying condition statement for even number if that number is not divisble by 2 and having the remainder 1 then only that number will add into that list.
4. Print the result.

15. Find the sum of all elements in a list.

In [3]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
b = sum(a)

In [5]:
print(b)

55

1. Declare a variable a a with a list of numbers.
2. By using sum function it will add all numbers which are present inside the list and give us the result.
3. Print the result.

16. Find the maximum value in a list.

In [6]:
a = [10,20,100,150,50,60,80]

In [7]:
print(max(a))

150

1. Declare a variable a a with a list of numbers.
2. By using max function it find that number which is greatest among all which are currently present in the list.
3. Print the result.

17. Find the minimum value in a list.

In [8]:
a = [10,20,100,150,50,60,80]

In [9]:
print(min(a))

10

1. Declare a variable a a with a list of numbers.
2. By using min function it find that number which number is smallest among all which are currently present in the list.
3. Print the result.

18. Create a list of squares of numbers from 1 to 10.

In [10]:
a = []

In [12]:
for i in range(1,11):
    a.append(i**2)
print(a)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

1. Create a empty list inside the variable a.
2. By using for loop which is iterating through the range between the numbers 1 to 10.
3. In a list the function called append were appending the numbers by using the formulae of power which is i**2 this formulae will convert all numbers into the squares of the numbers and then appended into the lisy.
4. Print the result.

19. Create a list of random numbers.

In [29]:
import random
a = []

In [30]:
for i in range(1,20):
    b = random.randint(1,i)
    a.append(b)
print(a)

[1, 2, 3, 1, 4, 1, 1, 7, 4, 6, 11, 7, 12, 5, 10, 3, 10, 16, 11]

1. Create a empty list inside the variable a
2. We are importing an library called random
3. By using for loop which is iteratating throught the range of numbers between 1 to 20
4. Inside the for loop we are again declaring one variable b inside that varible we are using random.randint function.
5. How these function work is that it will basically takes the two arguments first is starting position an second is ending position. In these we are starting our number from 1 and ending to i which ia having len of 20
6. It will generate an random number after each iteration by using the for loop.
7. Using the append function we are appending those numbers into the list
8. Print the result

20. Remove duplicates from a list.

In [31]:
a = [1, 2, 10, 30, 10, 20, 23, 24]

In [34]:
b = []
for i in a:
    if i not in b:
        b.append(i)
print(b)

[1, 2, 10, 30, 20, 23, 24]

1. Create a list of numbers inside the variable a
2. Create another empty list inside the variable b.
3. By using for loop it will iterate through all the numbers of list inside a.
4. By using conditional statement if any number which is not present in b then and only then will be appending number to that list 
5. Print the result

21. Find the common elements between two lists.

In [35]:
a = [10, 20, 30, 40, 50, 60]
b = [50, 60, 80, 10, 100, 120]

In [37]:
common_element = []
for i in a:
    if i in b:
        common_element.append(i)
print(common_element)

[10, 50, 60]

1. Create two list. One list of number are created inside the variable a and another list is created inside the variable b
2. Created a empty list called common_element.
3. By using for loop it will iterate through all the elements inside the first which is variable a.
4. By using the conditional statement if any element is present inside the second list which variable b.
5. If that variable is present then it will append that element to the common_element variable.
6. Print the result

22. Find the difference between two lists.

In [38]:
a = [10, 20, 30, 40, 50, 60]
b = [50, 60, 80, 10, 100, 120]

In [42]:
difference_list = list(set(a).difference(b))

In [43]:
print(difference_list)

[20, 40, 30]

1. Create a two list one list inside the variable a and second list inside the variable b.
2. Declaring another variable called difference list we are using list data type conversion and then we are converting first list into the set and by using the difference mehtod in set if any number which does not contain in another list.
3. Then that number will remain in that list and print the result.

23. Merge two lists.

In [48]:
a = [10, 20, 30, 40, 50, 60]
b = [50, 60, 80, 10, 100, 120]

In [49]:
c = a + b
print(c)

[10, 20, 30, 40, 50, 60, 50, 60, 80, 10, 100, 120]

1. Create a two list inside the variable a and variable b
2. Declare the another variable called c and inside that variable we are adding the two list i.e a and b 
3. Print the result

24. Multiply all elements in a list by 2.

In [50]:
a = [10, 20, 30, 40, 50, 60]

In [51]:
b = []
for i in a:
    b.append(i*2)
print(b)

[20, 40, 60, 80, 100, 120]

1. Create a list of numbers inside the variable a
2. Create a empty list inside the variable b.
3. By using for loop it will iterating through all the list inside the variable a.
4. It will append and also that number will be multiply 2 and stored into the list of variable b
5. Print the result

25. Filter out all even numbers from a list.

In [1]:
a = [33, 60, 80, 55, 100, 90]

In [2]:
b = []

In [3]:
for i in a:
    if i%2 == 0:
        b.append(i)
print(b)

[60, 80, 100, 90]

1. Create a list of numbers inside the variable a
2. Create a empty list inside the variable b.
3. By using for loop we are itering through all the numbers in the list and then using conditional if the number is divisible by 2 and having remainder 0 then only we will append that number into the list inside the variable b.
4. Print the result

26. Convert a list of strings to a list of integers.

In [4]:
a = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [7]:
b = []
for i in a:
    b.append(int(i))
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

1. Create a list of number which having data type of string.
2. Create an another list which is an empty list.
3. By using for loop it will iterating through all the elements in the list and then by using int function we are converting all the elements into an integers and then appending the elment into list inside variable b.
4. Print the result

27. Convert a list of integers to a list of strings.

In [8]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
b = []
for i in a:
    b.append(str(i))
print(b)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

1. Create a list of number which having data type of string.
2. Create an another list which is an empty list.
3. By using for loop it will iterating through all the elements in the list and then by using str function we are converting all the elements into an string and then appending the elment into list inside variable b.
4. Print the result

28. Flatten a nested list.

In [57]:
a = [[1, 2, 3],[4, 5],[6, 7, 8]]

In [58]:
clean_list = []
for i in a:
    clean_list += i
print(clean_list)

[1, 2, 3, 4, 5, 6, 7, 8]

1. Created a nested list inside the variable a 
2. Create another empty list inside the variable called clean_list
3. By using the for loop it will iterating all the numbers inside variable a and then that number will be adding to clean_list.
4. Print the result

29. Create a list of the first 10 Fibonacci numbers.

In [144]:
fibonacci_list = []

In [145]:
a, b = 0, 1
for i in range(11):
    fibonacci_list.append(a)
    a,b = b, a+b
print(fibonacci_list)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

1. Create a empty list inside the variable called fibonacci_list
2. For initialization we created two more variables a and b and assign the value 0 and 1
3. By using for loop with in the range of 1 to 10 we are adding first number i.e inside variable a and then we are iterating the for loop 10 times
4. We update the values of a and b to calculate the next Fibonacci number. This is done by swapping the values: a becomes b and b becomes the sum of the previous a and b.
5. Print the result

30. Check if a list is sorted.

In [21]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
if a == sorted(a):
    print('These list is a sorted list')
else:
    print('These list is not a sort list')

These list is a sorted list

1. Create a number of list inside the variable a
2. By using conditional statement if our list a and sorted(a) is same then these list contains a sorted list other wise these list does not contain the sorted list.

31. Rotate a list to the left by `n` positions.

In [29]:
a = [1, 2, 3, 4, 5, 6, 7]
n = 2 % len(a)

In [30]:
rotate = a[n:] + a[:n]

In [31]:
print(rotate)

[3, 4, 5, 6, 7, 1, 2]

1. Create a list of numbers inside the variable a 
2. create another variable n inside that variable we are defining one formulae i.e n% len(list)
3. By using rotate variable we are using n as an varible in which the user will input accordint to that number it will rotate list from the left side
4. Print the result.

32. Rotate a list to the right by `n` positions.

In [32]:
a = [1, 2, 3, 4, 5, 6, 7]
n = 2 % len(a)

In [34]:
rotate = a[-n:] + a[:-n]
print(rotate)

[6, 7, 1, 2, 3, 4, 5]

1. Create a list of numbers inside the variable a 
2. create another variable n inside that variable we are defining one formulae i.e n% len(list)
3. By using rotate variable we are using n as an varible in which the user will input according to that number it will rotate list from the right side
4. Print the result.

33. Create a list of prime numbers up to 50.

In [114]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers_list = [num for num in range(2, 50) if is_prime(num)]

print("Tuple of the first 50 prime numbers:", prime_numbers_list)

Tuple of the first 50 prime numbers: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

1. Create a function called is_prime 
2. Inside that function we have given a 1 argument num
3. Inside the function if any number is less than 1 then it is not a prime and similarly if any number is divisible by another number and having remainder 0 then that number is not a prime number 
4. These function will check if these number is prime number or not 
5. By using list comprehension it will go into the range of 2 to 50 and we check that number is prime number or not 
6. If that number is prime number then we add into the list if not we will not add into the list.

34. Split a list into chunks of size `n`.

In [61]:
n = 50
a = []

In [63]:
for i in range(1,n):
    a.append(i)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

1. Declaring a varibale called n which is taking input from the user
2. Createing a empty list inside the variablem called a
3. By using for loop in range of n in which user will enter the input and iterating through all the numbers within a range.
4. After that we appending list into smaller size chunks and print the result

35. Find the second largest number in a list.

In [85]:
a = [50, 60 , 100, 90, 80, 70, 30]

In [87]:
largest_number = 0
second_number = 0
for i in a:
    if i > largest_number:
        largest_number = i
    elif i > second_number and second_number < largest_number:
        second_number = i
print(f'The second largest number is {second_number}')

The second largest number is 90

1. Create a list of numbers inside the variable a
2. Declaring two more variables first largest number and second is second_largest_number 
3. By using for loop in list of variable a it will iterate through all the characters inside the variable a and then first we find out the largest numbber by using conditional statement in for loop
4. If we found out the largest number then we are using elif statement in that elif statement if any number is greater than second number and also if that number is less than the largest number than only store that number into the second_largest_number.
5. print the result

36. Replace every element in a list with its square.

In [172]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [177]:
squared_list = []
for i in a:
    squared_list.append(i ** 2)
print(squared_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

1. Create a list number inside the variable a
2. Create an empty list inside the variable squared_list
3. By using for loop it will iterating through all the element inside the variable a and then appending that number inside that squared_list.
4. Print the result

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [201]:
a = ['apple', 'banana', 'mango', 'orange']
b = {}

In [202]:
for i in a:
    b[i] = a.index(i)
print(b)

{'apple': 0, 'banana': 1, 'mango': 2, 'orange': 3}

1. Create a list of strings inside the variable a
2. Create an empty dictionary inside the variable b
3. By using the for loop we are giving key and and value to the dictionary after each element in the list and the value should be there indexing number 
4. print the result

38. Shuffle the elements of a list randomly.

In [203]:
import random 
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [205]:
random.shuffle(a)
print(a)

[6, 5, 8, 10, 7, 3, 4, 2, 9, 1]

1. Create a list of numbers inside the variable a 
2. Import the random module
3. By using random module function i.e random.shuffle function it will shuffle all the elements inside the lisg
4. Print the result

39. Create a list of the first 10 factorial numbers.

In [211]:
import math
a = []

In [212]:
for i in range(10):
    b =  math.factorial(i)
    a.append(b)
print(a)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

1. Create a empty list inside the variable a
2. Importing the math module
3. By using for loop within the range of 10 it will iterate through all the numbers within the range of 0 to 10 numbers
4. In math module there is an function called math.factorial by using these function inside the variable b we are calculating all the factorial numbers within the range of 10
5. We are appending those calculated factorial numbers into the list of variable a 
6. Print the result

40. Check if two lists have at least one element in common.

In [215]:
a = [2, 4, 6, 8]
b = [3, 5, 8, 10]

In [216]:
for i in a:
    if i in b:
        print(i)

8

1. Create a two list of numbers.
2. By using for loop in one of the list it will iterate through all the elements inside the list
3. By using conditional statement if any number in a is present inside another list if these condition true then it will print that common element.

41. Remove all elements from a list.

In [220]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [219]:
a.clear()
print(a)

[]

1. create a list of numbers inside the variable a
2. In list there is an method called clear it will clear all the elements inside the list but the list will remain as it is it will not delete the list.

42. Replace negative numbers in a list with 0.

In [235]:
a = [1, 2, 3, -1, 6, 7]

In [237]:
for i in range(len(a)):
    if a[i] < 0:
        a[i] = 0
print(a)

[1, 2, 3, 0, 6, 7]

1. Create a list of number inside the variable a 
2. By using for loop in range of len(list) it will give the index number of that list.
3. By using conditional statement if any number at that index i less than 0 then that number should be equal 0 at that index
4. Print the result

43. Convert a string into a list of words.

In [238]:
a = "Python"

In [239]:
b = list(a)
print(b)

['P', 'y', 't', 'h', 'o', 'n']

1. Declare a variable a inside that variable we are defining a string.
2. By using type conversion method it will directly convert the string into list by typing list(a)
3. Print the result

44. Convert a list of words into a string.

In [248]:
a = ['P', 'y', 't', 'h', 'o', 'n']

In [252]:
b = ''.join(a)
print(b)

Python

1. Declare a variable a inside that variable we are defining a string.
2. By using .join function it will join all the characters inside the list and then it will convert the list into string.
3. Print the result

45. Create a list of the first `n` powers of 2.

In [256]:
n = 5
a = []

In [257]:
for i in range(1,n):
    a.append(i**2)
print(a)

[1, 4, 9, 16]

1. Create a variable called n which take input from the user.
2. Create a empty list inside the variable a
3. By using for loop in the range of 1 to variable n which is taken from the user and it will iterate all numbers in that range.
4. It is appending all numbers of squares to the list of a.

46. Find the longest string in a list of strings.

In [1]:
a = ['Python', 'Java', 'Scala', 'Julia']

In [2]:
longest_string = ''
for i in a:
    if len(i) > len(longest_string):
        longest_string = i
print(longest_string)

Python

1. Create a list of string inside the variable a 
2. Declare another variable called longest_string  which is having empty string
3. By using for loop it will iterating all the strings which are present inside the list.
4. By using conditional statement if lenght of any string is greater the current string then that string will store into the variable called longest string.
5. Print the result

47. Find the shortest string in a list of strings.

In [29]:
a = ['Python', 'Java', 'Scala', 'Julia']

In [30]:
shortest_string = a[0]
for i in a:
    if len(i) < len(shortest_string):
        shortest_string = i
    
print(shortest_string)

Java

1. Create a list of string inside the variable a 
2. Declare another variable called shortes_string  which is having a first element of string
3. By using for loop it will iterating all the strings which are present inside the list.
4. By using conditional statement if lenght of any string is less than the current string then that string will store into the variable called shortest string.
5. Print the result

48. Create a list of the first `n` triangular numbers.

In [42]:
a = []
n = 5

In [43]:
for i in range(1, n+1):
    b = (i* (i+1)//2)
    a.append(b)
print(a)

[1, 3, 6, 10, 15]

1. Create a empty list inside the variable a
2. create another variable n which takes input from the user
3. By using for loop in the range between 1 to n+1 and declaring variable b inside that variable we are definig formulae for triangular numbers
4. Then thos triangular numbers will be appended to list a and print the result

49. Check if a list contains another list as a subsequence.

In [84]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sub = [3, 11, 5]

In [85]:
def subsequence(list_1, list_2):
    for i in list_2:
        if i in list_1:
            return 'These list had subsequence'
        else:
            return 'These list not having subsequence'

In [86]:
subsequence(a,sub)

'These list had subsequence'

1. Create a list of numbers inside the variable a and sub
2. We define one function called subsequence in these function we define two arguments list_1 and list_2
3. In these function we are using for loop in list_2 and using conditional statement if any element in the list_2 is present in the list one then these list having subsequence.
4. Otherwise these list is not subsequence

50. Swap two elements in a list by their indices.

In [60]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [63]:
temp = a[1]
a[1] = a[5]
a[5] = temp
print(a)

[1, 6, 3, 4, 5, 2, 7, 8, 9, 10]

1. Create a list of numbers inside the variable a
2. Element of first number store inside another variable called temp.
3. By using indices element of first number and element another equal to each other
4. But element of another number should be equal to temp variable we have store the first number into the temp variable

# Tuple

1. Create a tuple with integers from 1 to 5.

In [94]:
a = []

In [95]:
for i in range(1,5):
    a.append(i)
print(tuple(a))

(1, 2, 3, 4)

1. Create a empty list inside the variable a
2. By using for loop in the range (1,5) it will iterate through all the numbers between 1 to 5.
3. By using append function we are appending those numbers into the list.
4. By using type conversion method to tuple these will convert list into the tuple

2. Access the third element of a tuple.

In [1]:
a = (1, 2, 3, 4)

In [2]:
b = a[2]
print(b)

3

1. Create a tuple inside the variable 
2. For accessing third element in tuple just like list in tuple also we can use slicing to individual element in tuple.
3. Print the result

3. Find the length of a tuple without using the `len()` function.

In [3]:
a = (1, 2, 3, 4)

In [4]:
len_tuple = 0
for i in a:
    len_tuple += 1
print(len_tuple)

4

1. Create a tuple inside the variable a
2. Declare a variabe len_tuple and set them as 0
3. By using for loop it will iterate through each character in tuple.
4. After each iteration it will add +1 to the variable called len_tuple
5. Print the result

4. Count the occurrences of an element in a tuple.

In [7]:
a = (10 , 20, 30 , 40 , 50, 20, 60, 20, 20)

In [8]:
for i in a:
    b = a.count(i)
print(b)

4

1. Create a tuple insdide the variable a 
2. By using for loop in tuple it will iterate all characters inside the tuple
3. Declaring another variable b and inside that variable we are using count function.
4. It will each and every element present inside the element then those element which is repeating more than once that element occurence will be return.

5. Find the index of the first occurrence of an element in a tuple.

In [9]:
a = (10 , 20, 30 , 40 , 50, 20, 60, 20, 20)

In [12]:
b = a.index(20)
print(b)

1

1. Create a tuple inside the variable a
2. Just like list by using index fuction we will the index of an element in the tuple
3. Print the result

6. Check if an element exists in a tuple.

In [14]:
a = (1, 2, 3, 4)
n = 3

In [15]:
if n in a:
    print("These element present in the tuple")
else:
    print("These element not present in the tuple")

These element present in the tuple

1. Create a tuple inside the variable a 
2. Decalare another variable n which is having a value 3
3. By using conditional statemnt if number inside varaible is present in tuple a or not.
4. If its present then print these element present in the tuple and if it is not present then these element not present in the tuple.

7. Convert a tuple to a list.

a = (1, 2, 3, 4)

In [18]:
b = list(a)
print(b)

[1, 2, 3, 4]

1. Create a tuple inside the variable a 
2. By using type conversion method from tuple to convert list by using list(a) it will convert tuple into the list.

8. Convert a list to a tuple.

In [19]:
a = [1, 2, 3, 4]

In [20]:
b = tuple(a)
print(b)

(1, 2, 3, 4)

1. Create a tuple inside the variable a 
2. By using type conversion method from list to convert into tuple by using tuple(a) it will convert list into the tuple

9. Unpack the elements of a tuple into variables.

In [24]:
a_tuple = (1, 2, 3, 4)
a, b, c, d = a_tuple

In [25]:
print(a)
print(b)
print(c)
print(d)

1
2
3
4

1. We start by creating a tuple named my_tuple with three elements.
2. We use the unpacking assignment to assign the values of the tuple elements to individual variables a, b, c and d.
3. We print the values of these variables.

10. Create a tuple of even numbers from 1 to 10.

In [26]:
a = []

In [27]:
for i in range(1, 11):
    if i % 2 == 0:
        a.append(i)
print(tuple(a))

(2, 4, 6, 8, 10)

1. First we are creating a empty list inside the variable a 
2. By using for loop in teh range of 1 to 11. It will iterate all the numbers within the range of 1 to 11 except the last number.
3. By using conditional statement if any element is divisible by 2 and havind remainder 0 then that element will be append to the list a 
4. After appending into the list we are printing result by converting list into tuple and then print the result.

11. Create a tuple of odd numbers from 1 to 10.

In [28]:
a = []

In [29]:
for i in range(1, 11):
    if i % 2 != 0:
        a.append(i)
print(tuple(a))

(1, 3, 5, 7, 9)

1. First we are creating a empty list inside the variable a 
2. By using for loop in teh range of 1 to 11. It will iterate all the numbers within the range of 1 to 11 except the last number.
3. By using conditional statement if any element is divisible by 2 and having remainder not equal to 0 then that element will be append to the list a 
4. After appending into the list we are printing result by converting list into tuple and then print the result.

12. Concatenate two tuples.

In [30]:
a = (1, 2, 3, 4, 5)
b = (6, 7, 8, 9, 10)

In [31]:
c = a + b
print(c)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

1. create a two tuplea inside the variable a and variable b
2. By using addition function we merge the two tuples into one tuple and store it into the variable called c
3. Print the result

13. Repeat a tuple three times.

In [32]:
a = (1, 2, 3, 4, 5)

In [35]:
b = a * 3
print(b)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

1. Creat a tuple inside the variable a 
2. For repeating tuple 3 times we are multiplying tuple by 3 and it will merge into that and repeat it self three times.
3. print the result

14. Check if a tuple is empty.

In [36]:
a = ()

In [38]:
if not a:
    print(' These tuple is empty')
else:
    print("These tuple is not empty")

 These tuple is empty

1. Create a tuple inside the variable a 
2. By using conditional statement that of tuple is empty then print these tuple is empty and else print these tuple is not empty

15. Create a nested tuple.

In [43]:
a = (1, 2, 3, 4, ('a', 'b', 'c'))
print(a)

(1, 2, 3, 4, ('a', 'b', 'c'))

1. Create a tuple inside a variable a.
2. Inside that tuple we create another set of tuple which is having a data type of strings.
3. Print the result

16. Access the first element of a nested tuple.

In [44]:
a = (1, 2, 3, 4, ('a', 'b', 'c'))

In [47]:
b = a[4][0]
print(b)

a

1. Create a tuple inside the variable a 
2. Inside that tuple we create another tuple which is having a data type of strings
3. By using slicing method we are accessing a nested tuple 1 st element
4. Print the result

17. Create a tuple with a single element.

In [51]:
a =(1,)
print(a)

(1,)

1. Create a tuple inside the variable a.
2. For single element tuple we have to put comma at the end of an element and after that print the result

18. Compare two tuples.

In [54]:
tuple_1 = (1, 2, 3)
tuple_2 = (3, 5, 6)

In [56]:
print("tuple1 == tuple2:", tuple_1 == tuple_2)  
print("tuple1 != tuple2:", tuple_1 != tuple_2)  
print("tuple1 < tuple2:", tuple_1 < tuple_2)    
print("tuple1 <= tuple2:", tuple_1 <= tuple_2)  
print("tuple1 > tuple2:", tuple_1 > tuple_2)  
print("tuple1 >= tuple2:", tuple_1 >= tuple_2)

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

1. Create a two tuple inside the variable tuple_1 and tuple_2
2. Compare the two tuples if both the tuples are equal
3. Compare the two tuples if both the tuples are not equal
4. Compare the two tuples if the tuple_1 one is less than tuple_2
5. Compare the two tuples if the tuple_1 is less than or equal to tuple_2
6. Compare the two tuple if the tuple_1 is greater than tuple_2
7. Compare the two tuple if the tuple_1 is greater than equal to tuple_2

19. Delete a tuple.

In [57]:
a = (1, 2, 3, 4, 5)

In [58]:
del(a)

1. Create a tuple inside the variable a 
2. By using del function it will delete all the element in the tuple as well delete the tuple which we create inside the variable a

20. Slice a tuple.

In [60]:
a = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [62]:
slice_tuple = a[3:6]
print(slice_tuple)

(4, 5, 6)

1. Create a tuple inside the variable a
2. Create another variable slice_tuple inside that variable by using slicing method we are mentioning starting index and ending index of the tuple.
3. Print the result

21. Find the maximum value in a tuple.

In [63]:
a = (10, 20, 100, 60, 120, 150, 80, 20, 70)

In [64]:
max(a)

150

1. Create a tuple inside the variable a 
2. By using max function it will print the maximum number inside the tuple a

22. Find the minimum value in a tuple.

In [65]:
a = (10, 20, 100, 60, 120, 150, 80, 20, 70)

In [66]:
min(a)

10

1. Create a tuple inside the variable a 
2. By using min function it will print the maximum number inside the tuple a

23. Convert a string to a tuple of characters.

In [67]:
a = 'Python'

In [68]:
b = tuple(a)
print(b)

('P', 'y', 't', 'h', 'o', 'n')

1. Declare a variable a inside the variable we are defining a string
2. By using type conversion method which is tuple(a) it will convert the string into tuple of characters.

24. Convert a tuple of characters to a string.

In [71]:
a = ('P', 'y', 't', 'h', 'o', 'n')

In [75]:
b = ''.join(a)
print(b)

Python

1. Declare a variable a inside the variable we are defining a string
2. By using type join function it will join the tuple of characters and convert into string.

25. Create a tuple from multiple data types.

In [78]:
a = (1, 'Python', 2.32, True, [1,2,3,4], {'a' : 'apple'}, (1, 2, 3,4))

In [79]:
print(a)

(1, 'Python', 2.32, True, [1, 2, 3, 4], {'a': 'apple'}, (1, 2, 3, 4))

1. Create a tuple inside the variable a.
2. Inside the tuple we have create multiple data typles each element having different data types from each other

26. Check if two tuples are identical.

In [86]:
a = (1, 2, 3, 4)
b = (1, 2, 3, 4)

In [87]:
if a == b:
    print('These two tuples are identical')
else:
    print('These two tuples are not identical')

These two tuples are identical

1. Create two tuples inside the variable a and variable b
2. If both the tuple are equal to each other then print these two tuples are identical or else these two tuple are not identical

27. Sort the elements of a tuple.

In [88]:
a = (10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [92]:
b = tuple(sorted(a))
print(b)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

1. Create a tuple inside the variable a 
2. By using sorted function it will sort the tuple by ascending order.
3. But what sorted function does is that it will convert the tuple into the list.
4. In order to avoid these we use type conversion method outside the sorted function tuple(sorted(a))
5. Print the result

28. Convert a tuple of integers to a tuple of strings.

In [93]:
a = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
b = []

In [94]:
for i in a :
    b.append(str(i))
print(tuple(b))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

1. Create a tuple inside the variable a 
2. Create a empty list inside the variable b
3. By using for loop it wil iterate through all the numbers inside the variable a 
4. It will append all the numbers which is converted from integer to string inside the list b
5. By using type Conversion mthod tuple(a) it will convert the list into the tuple

29. Convert a tuple of strings to a tuple of integers.

In [95]:
a = ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')
b = []

In [96]:
for i in a :
    b.append(int(i))
print(tuple(b))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

1. Create a tuple inside the variable a 
2. Create a empty list inside the variable b
3. By using for loop it wil iterate through all the numbers inside the variable a 
4. It will append all the numbers which is converted from integer to string inside the list b
5. By using type Conversion mthod tuple(a) it will convert the list into the tuple

30. Merge two tuples.

In [98]:
a = (1, 2, 3, 4, 5)
b = (6, 7, 8, 9, 10)

In [99]:
merge_tuple = a + b
print(merge_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

1. Create a two tuple inside the variable a and variable b.
2. Inside the merge_tuple variable we are concating two tuples by using a + b and stored inside the variable merge_tuple 
3. Print the result

31. Flatten a nested tuple.

In [108]:
a = ((1,2,4), (4,5,6),(7,8,9,10))

In [111]:
flatten_tuple = ()
for i in a:
    flatten_tuple += i
print(flatten_tuple)

(1, 2, 4, 4, 5, 6, 7, 8, 9, 10)

1. Create a tuplle insdide the variable a
2. Inside the tuple we have created a nested tuple inside tuple a 
3. Create another tuple called flatten_tuple 
4. By using for loop in tuple a it will iterate through all tuple inside tuple a and add it to flatten_tuple
5. Print the tuple

32. Create a tuple of the first 5 prime numbers.

In [112]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]


prime_numbers_tuple = tuple(prime_numbers_list)

print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

1. We define a function called prime numbers
2. Inside that prime number if any number is less than 1 that is not a prime number 
3. By using for loop in range of 2 to num which will take input from the user.
4. If any number will be divisible by that number and remainder 0 then it should not be a prime number
5. By using list comprehension we are converting all the numbers within the range of 2 to 100 and in that list we are using the first 5 prime numbers by using slicing 
6. That prime_number_list will be converted into the prime_number_tuple 
7. Print the result

33. Check if a tuple is a palindrome.

In [124]:
a = (1, 2, 1)
reverse_a = a[::-1]

In [125]:
if a == reverse_a:
    print('These tuple is palindrome')
else:
    print('These tuple is not palindrome')

These tuple is palindrome

1. Create a tuple inside the variable a
2. Declare another varaiable reverse_a we are reversing the tuple by using reverse slicing
3. If normal tuplea and reverse tuple is equal then print these tuple is palindrome otherwise these tuple is not palindrome.

34. Create a tuple of squares of numbers from 1 to 5.

In [128]:
a = []

In [127]:
for i in range(1, 6):
    a.append(i**2)
print(tuple(a))

(1, 4, 9, 16, 25)

1. Create a empty list inside the variable a
2. By using for loop in range of 1 to 6 it will iterate through all the numbers inside the range 1 to 6.
3. By using squaring each number and appending all the numbers into the empty list a
4. By using data type conversion method we will convert the list into the tuple

35. Filter out all even numbers from a tuple.

In [130]:
a = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [132]:
filter_tuple = []
for i in a:
    if i % 2 != 0:
        filter_tuple.append(i)
print(tuple(filter_tuple))

(1, 3, 5, 7, 9)

1. Creating a tuple inside the variable a 
2. By using for loop it will iterate through all the numbers inside the variable a and if that number is divisible 2 and having the remainder is not equal to 0 then that number will be appeding to list of filter_tuple
3. By using type conversion tuple(filter_tuple) it will convert the list into tuple and print the result

36. Multiply all elements in a tuple by 2.

In [138]:
a = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [139]:
multiply_tuple = []

In [140]:
for i in a:
    multiply_tuple.append(i*2)
print(tuple(multiply_tuple))

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

1. Creating a tuple inside the variable a 
2. By using for loop it will iterate through all the numbers inside the variable a and that number will be divisible by 2 and append that number into the lis of multiply_tuple
3. By using type conversion tuple(multiply_tuple) it will convert the list into tuple and print the result

37. Create a tuple of random numbers.

In [144]:
import random
a = []
b = range(1, 10)

In [145]:
for i in range(1, 10):
    a.append(random.choice(b))
print(tuple(a))

(7, 6, 6, 7, 3, 7, 2, 6, 8)

1. Creating a empty list inside th variable a 
2. Declaring another varible b which is having a range of numbers between 1 to 10
3. By using for loop within the range of 1 to 10 it will iterate through all the numbers inside the range of numbers
4. By using random.choice function it will choose the random number from the variable and append it to list a
5. By using th type conversion tuple(a) it will convert the list into the tuple

38. Check if a tuple is sorted.

In [146]:
a = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [147]:
b = tuple(sorted(a))

In [148]:
if a == b:
    print('These tuple is sorted tuple')
else:
    print('These tuple is not sorted tuple')

These tuple is sorted tuple

1. Create a tuple inside the variable a
2. Declare another variable b and sort the tuple by using sorted function convert that into tuple.
3. By using conditional statement if the normal tuple is equal to sorted tuple then this tuple is sorted tuple

39. Rotate a tuple to the left by `n` positions.

In [152]:
a = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
n = 2 % len(a)

In [156]:
rotate_left = a[n:] + a[:n]

In [157]:
print(rotate_left)

(3, 4, 5, 6, 7, 8, 9, 10, 1, 2)

1. Create a tuple inside the variable a 
2. Create another variable a inside that variable check if that index number is greater than the len(tuple) then it will divide the number by len(tuple).
3. By usinf slicing we are merging both the tuples and print the results

40. Rotate a tuple to the right by `n` positions.

In [158]:
a = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
n = 2 % len(a)

In [159]:
rotate_right = a[-n:] + a[:-n]

In [160]:
print(rotate_right)

(9, 10, 1, 2, 3, 4, 5, 6, 7, 8)

1. Create a tuple inside the variable a 
2. Create another variable a inside that variable check if that index number is greater than the len(tuple) then it will divide the number by len(tuple).
3. By using reverse slicing we are merging both the tuples and print the results

41. Create a tuple of the first 5 Fibonacci numbers.

In [5]:
n = 5
fibonacci_number = [0, 1]
while len(fibonacci_number) < n:
    next_number = fibonacci_number[-1] + fibonacci_number[-2]
    fibonacci_number.append(next_number)

In [6]:
print(tuple(fibonacci_number))

(0, 1, 1, 2, 3)

1. Declare a variable n and which is set them 5 because we want 5 fibonacci number.
2. Declare another variable called fibonacci number inside that variable we declare list which [0, 1] which is an starting two number fibonacci number
3. By using while loop if len(fibonacci_number) less than the variable n which is an user input in integer then this while loop will continue runing until these condition statisfy
4. Declare another varibale called next_number inside that variable we are defining an formaulae for fibonacci number 
5. Then those number we are appending into the list of fibonacci number and then by using type conversion Tuple(fibonacci_number) we are printing the result.

42. Create a tuple from user input.

In [13]:
a = input("Enter something: ")

Enter something:  12345678

In [14]:
b = tuple(a)
print(b)

('1', '2', '3', '4', '5', '6', '7', '8')

1. Create a variable a in which we are taking input from the user 
2. By using type conversion method we are using tuple(a) to convert into tuple
3. Print the result

43. Swap two elements in a tuple.

In [15]:
a = (1, 3, 3, 4, 5, 6, 7, 8)

In [16]:
index_1 = 4
index_2 = 6

In [18]:
b = list(a)
temp = b[index_1]
b[index_1] = b[index_2]
b[index_2] = temp
print(tuple(b))

(1, 3, 3, 4, 7, 6, 5, 8)

1. Create a tuple inside the variable a 
2. Create another two variable index_1 and index_2 in that variables we are mentioning the index number 
3. We are converting tuples into the list and store that list into the variable b.
4. The first index element will be storing into temp variable and then swaping index both the element which is present inside the list at that insdec number with the help of temp variable
5. Print the result and convert the list into the tuple again

44. Reverse the elements of a tuple.

In [19]:
a  = (1, 2, 3, 4, 5, 6, 7, 8)

In [20]:
b = a[::-1]
print(b)

(8, 7, 6, 5, 4, 3, 2, 1)

1. Create a tuple inside the variable a
2. By using reverse indexing in tuple that tuple will be store into the variable b
3. Print the result

45. Create a tuple of the first `n` powers of 2.

In [23]:
a = []
n = 5

In [24]:
for i in range(1, n):
    a.append(2 ** i)
print(tuple(a))

(2, 4, 8, 16)

1. Create a empty list inside the variable a.
2. Create another variable n which is having the value 5
3. By using for loop in range 1 to variable n which we entering number it will iterate through all the numbers and then squaring 2 to all numbers which is present whithin the range.
4. Append those number into the list and then converting into tuple and print the result

46. Find the longest string in a tuple of strings.

In [25]:
a = ('Python', 'Flutter', 'Java', 'Scala')

In [26]:
longest_string = ' '
for i in a:
    if len(i) > len(longest_string):
        longest_string = i
print(longest_string)

Flutter

1. Create a tuple inside the varible a having data type of string
2. Create another variable and set them as an empty string 
3. By using for loop it will iterate through all the element present inside the tuple one by one.
4. By using conditional statement if length of current string is greater than longest_string then that string will be store into the longest string and check each every iteration.
5. Print the result

47. Find the shortest string in a tuple of strings.

In [27]:
a = ('Python', 'Flutter', 'Java', 'Scala')

In [28]:
shortest_string = a[0]
for i in a:
    if len(i) < len(shortest_string):
        shortest_string = i
print(shortest_string)

Java

1. Create a tuple inside the varible a having data type of string
2. Create another variable shortest_string and we have given a first element from the tuple 
3. By using for loop it will iterate through all the element present inside the tuple one by one.
4. By using conditional statement if length of current string is less than shortest_string then that string will be store into the shortest string and check each every iteration.
5. Print the result

48. Create a tuple of the first `n` triangular numbers.

In [29]:
a = []
n = 5

In [30]:
for i in range(1, n+1):
    b = (i* (i+1)//2)
    a.append(b)
print(tuple(a))

(1, 3, 6, 10, 15)

1. Create a empty list inside the variable a
2. Create another variable n which is equal to 5
3. By using for loop 1 to variable n + 1 it will iterate through all the numbers within these range.
4. Defining formulae for triangular numbers into the variable b and then append those number into the list a 
5. Convert the list into the tuple and then print the result

49. Check if a tuple contains another tuple as a subsequence.

In [31]:
a = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
b = (3, 4, 5)

In [35]:
def subsequence(a, b):
    for i in b:
        if i in a:
            return 'These tuple have subsequence'
        else:
            return 'These tuple does not have subsequence'

In [36]:
subsequence(a, b)

'These tuple have subsequence'

1. Create a tuple inside the variable a
2. Create a another tuple inside the variable b
3. Define function subsequence which takes two arguments from the user and then using for loop if the element in the second tuple are present in the first tuple then return these tuple has subsequence

50. Create a tuple of alternating 1s and 0s of length `n`.

In [41]:
a = []
n = 10

In [42]:
for i in range(0,n):
    a.append(i%2)
print(tuple(a))

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

1. Create an empty list inside the variable a
2. Create another variable n and equal to 10
3. By using for loop in range between 0 to n which is take the input from the user and then the number will be divisible by 2.
4. That number will be appending to the list a 
5. Convert that list into tuple and then print the result

# Set

1. Create a set with integers from 1 to 5.

In [45]:
a = set()

In [46]:
for i in range(1, 5):
    a.add(i)
print(a)

{1, 2, 3, 4}

1. Create a empty set inside the variable a 
2. By using for in range between 1 to 5 it will iterate through all the number within the range 1 to 5
3. In set there is fuction called set.add() it will add all element within the range between 1 to 5
4. Print the result

2. Add an element to a set.

In [49]:
a = {1, 2, 3, 4, 5}

In [50]:
a.add(6)

In [51]:
print(a)

{1, 2, 3, 4, 5, 6}

1. Create a set inside the variable a 
2. In set there is an function set.add function it will add the element in the set at the end of the set.

3. Remove an element from a set.

In [52]:
a = {1, 2, 3, 4, 5, 6}

In [53]:
a.remove(6)

In [54]:
print(a)

{1, 2, 3, 4, 5}

1. Create a set inside the variable a 
2. In set there is an function set.remove function it will remove the element from the set.

4. Check if an element exists in a set.

In [55]:
a = {1, 2, 3, 4, 5}
b = 2

In [56]:
if b in a:
    print('These element is present in these set')
else:
    print('These element is not present in these set')

These element is present in these set

1. Create a set inside the variable a.
2. Create another vaiable b in which we metion element
3. By using the conditional statement if that element present in variable b is presnt inside set a then print the these element is present in these set.

5. Find the length of a set without using the `len()` function.

In [57]:
a = {1, 2, 3, 4, 5}

In [58]:
len_set = 0
for i in a:
    len_set += 1
print(len_set)

5

1. Create a set inside the variable a 
2. create another variable len_ste which is having the value 0
3. By using for loop in set a it will iterate through all the characters inside the set a and after each iteration it will add +1 in to the variable len_set
4. Print the result

6. Clear all elements from a set.

In [59]:
a = {1, 2, 3, 4, 5}

In [60]:
a.clear()

In [61]:
print(a)

set()

1. Create a set inside the variable a 
2. Inside set there is an function called set.clear() it will clear all element which are currently present inside the set.
3. But it will not delete the set which we have created set will remain as it is

7. Create a set of even numbers from 1 to 10.

In [62]:
a = set()

In [63]:
for i in range(1, 11):
    if i%2 == 0:
        a.add(i)
print(a)

{2, 4, 6, 8, 10}

1. Create a empty set inside the variable a
2. By using for loop it will iterate throuugh all the element which are currently present inside the range between 1 to 10.
3. By using condition state if that element is divisible by and remainder is equal to 0 then that number will be add into the empty by using add function in set.
4. Print the result

8. Create a set of odd numbers from 1 to 10.

In [67]:
a = set()

In [68]:
for i in range(1, 11):
    if i%2 != 0:
        a.add(i)
print(a)

{1, 3, 5, 7, 9}

1. Create a empty set inside the variable a
2. By using for loop it will iterate throuugh all the element which are currently present inside the range between 1 to 10.
3. By using condition state if that element is divisible by 2 and remainder is not equal to 0 then that number will be add into the empty by using add function in set.
4. Print the result

9. Find the union of two sets.

In [69]:
a = {1, 2, 3, 4, 5}
b = {1, 2, 3, 8, 10}

In [70]:
a.union(b)

{1, 2, 3, 4, 5, 8, 10}

1. Create a two set a and b
2. By using union method in set what union does is that it will merge the two sets if another set having duplicate value they remove the duplicate element and only unique element will be merge into set

10. Find the intersection of two sets.

In [75]:
a = {1, 2, 3, 4, 5}
b = {1, 2, 3, 8, 10}

In [73]:
a.intersection(b)

{1, 2, 3}

1. Create a two set a and b
2. By using interseection method in set what intersection does is that will create a set of common element between both the set

11. Find the difference between two sets.

In [76]:
a = {1, 2, 3, 4, 5}
b = {1, 2, 3, 8, 10}

In [77]:
a.difference(b)

{4, 5}

1. Create two sets inside the variable a and b
2. By using difference method in set it will check that element in the first set are not present in the second set
3. Print the result

12. Check if a set is a subset of another set.

In [1]:
a = {1, 2, 3, 4, 5, 6, 7, 8}
b = {1, 2, 3}

In [4]:
if b.issubset(a):
    print('Set b is the subset of Set a')
else:
    print('Set b is not the subset of Set a')

Set b is the subset of Set a

1. Create a two set inside the variable a and vaeiable b.
2. By using condition statement if set b is subset of set a if it is true then print the set b is the subset of set a else set b is not the subset of set a

13. Check if a set is a superset of another set.

In [5]:
a = {1, 2, 3, 4, 5, 6, 7, 8}
b = {1, 2, 3}

In [8]:
if a.issuperset(b):
    print('Set a is the superset of Set b')
else:
    print('Set a is not the superset of Set b')

Set a is the superset of Set b

1. Create a two set inside the variable a and vaeiable b.
2. By using condition statement if set a is superset of set a if it is true then print the set a is the superset of set b else set a is not the superset of set b

14. Create a set from a list.

In [9]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
b = set(a)
print(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

1. Create a list of numbers inside the variable a.
2. By using type conversion method set(a) it will convert the list into set.
3. Print the result

15. Convert a set to a list.

In [11]:
a = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [13]:
b = list(a)
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

1. Create a list of numbers inside the variable a.
2. By using type conversion method list(a) it will convert the set into list.
3. Print the result

16. Remove a random element from a set.

In [23]:
import random
a = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
b = list(a)

In [24]:
c = b.remove(random.choice(b))
print(set(b))

{1, 3, 4, 5, 6, 7, 8, 9, 10}

1. Create a set inside the variable a 
2. Convert the set into list by using type conversion list(a) it will convert set into list and then store into the variable b.
3. Import random module. In list there is an method called remove inside that remove function we will be using random.choice from the list inside the variable b.
4. It will choose the random number inside the list of variable b and store into the variable c
5. Then that list covert into a set by using type conversion method set(b) and print the result

17. Pop an element from a set.

In [1]:
a = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [2]:
a.pop()

1

In [3]:
print(a)

{2, 3, 4, 5, 6, 7, 8, 9, 10}

1. Create a set inside the variable a
2. By using set.pop() method it will display which element we are poping. by default it will remove the first element from the set
3. Print the result

18. Check if two sets have no elements in common.

In [9]:
a = {1, 2, 3, 4, 5}
b = {6, 7, 8, 9, 10}

In [10]:
if a.intersection(b):
    print('These two sets have common element')
else:
    print('These two sets does not have the common element')

These two sets does not have the common element

1. Create a two sets inside the variable a and b
2. By using conditional statetment if any element is common between the set a and set b then print these two sets have common element other wise print these two sets does not have the common element

19. Find the symmetric difference between two sets.

In [13]:
a = {1, 2, 3, 4, 5}
b = {1, 2, 8, 9, 10}

In [14]:
a ^ b

{3, 4, 5, 8, 9, 10}

1. Create a two sets a and b.
2. For calculating symmetric difference between two sets we are using these symbol '^'.
3. The symmetric difference means if two sets containing intersection it will remove that element and generate a new set

20. Update a set with elements from another set.

In [15]:
a = {1, 2, 3, 4, 5}
b = {6, 7, 8, 9, 10}

In [16]:
a.update(b)

In [17]:
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

1. Create two sets inside the variable a and variable b
2. By using the update function in set.It will add the element into the set from the another set.
3. Print the result

21. Create a set of the first 5 prime numbers.

In [27]:
a = set()

In [28]:
def prime_number(num):
    if num < 1:
        return False
    for i in range(2,int(num ** 0.5) + 1):
        if num %i == 0:
            return False
    return True

In [31]:
for i in range(1, 8):
    if prime_number(i):
        a.add(i)
print(a)

{1, 2, 3, 5, 7}

1. Create a empty set inside the variable a 
2. create a function prime_number inside these function we are having one argument 
3. Inside these we are if the number is prime number or not .
4. By using for loop in the range of 1 to 8 within these range of number it will check by using function called prime_number 
5. If that number is prime number then it will add it to the set a
6. Print the result

22. Check if two sets are identical.

In [1]:
a = {1, 2, 3, 4, 5}
b = {1, 2, 3, 4, 5}

In [2]:
if a == b:
    print('Thesse two sets are identical')
else:
    print('These two sets are not identical')

Thesse two sets are identical

1. Create a two sets inside the variable a and variable b
2. If set a is equal to set b if these condition is true then print these two sets are identical

23. Create a frozen set.

In [7]:
#!pip install collection
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
b = frozenset(a)

In [9]:
print(b)

frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9, 10})

1. Create a list inside the variable 
2. Inside variable we define an frozenset class and into that class we pass variable which is having a list
3. Print the result

24. Check if a set is disjoint with another set.

In [15]:
a = {1, 2, 3, 4, 5}
b = {6, 7, 8, 9, 10}

In [16]:
if a.isdisjoint(b):
    print('These set is disjoint with another set')
else:
    print('These set not disjoint with another set')

These set is disjoint with another set

1. Create a two sets inside the variable a and variable b
2. By using conditional statement checking if any element is common between both sets if yes then these set is not disjoint and if any element between both set are not common then these set is dijoint with another set

25. Create a set of squares of numbers from 1 to 5.

In [31]:
a = set()

In [32]:
for i in range(1, 6):
    a.add(i ** 2)
print(sorted(a))

[1, 4, 9, 16, 25]

1. Create a empty set inside the variable a 
2. By using for in range between 1 to 11 it will iterating through all the numbers within the range of 1 to 11 and add the square of each number into set
3. By adding square number into the set it will store as an random number by using sorted function it will sort the number into ascending order.
4. Print the result

26. Filter out all even numbers from a set.

In [33]:
a = set()

In [34]:
for i in range(1, 10):
    if i%2 != 0:
        a.add(i)
print(a)

{1, 3, 5, 7, 9}

1. Create a empty set inside the variable a
2. By using for loop inside th variable a between th range of 1 to 10 it wiil iterate through all the numbers and if that number is divided by 2 but it is not equal to 0 then that number will be added to set a
3. Print the result

27. Multiply all elements in a set by 2.

In [36]:
a = set()

In [37]:
for i in range(1, 10):
    a.add(2*i)
print(a)

{2, 4, 6, 8, 10, 12, 14, 16, 18}

1. Create a empty set inside the variable a
2. By using for loop inside th variable a between th range of 1 to 10 it wiil iterate through all the numbers and the number multiply by 2 and add it into the set a
3. Print the result

28. Create a set of random numbers.

In [38]:
import random
a = set()
b = range(1, 20)

In [39]:
for i in range(10):
    a.add(random.choice(b))
print(a)

{1, 2, 3, 5, 6, 8, 10, 17}

1. Create a empty set into variable a
2. Create another variable b and inside that variable we range of numbers between 1 to 20
3. By using for loop which is in the range of 10 it will iterate 10 times and by using random.choice(b) it will choose the number randomly between 1 to 20.
4. Then that number will be adding to the set a 
5. Print the result

29. Check if a set is empty.

In [40]:
a = set()

In [44]:
if not a:
    print('These set is empty')
else:
    print('These set is not empty')

These set is empty

1. Create a empty set inside the variable a 
2. By using the conditional statement if any element is not present in the set is true then print these set is empty otherwise print these set is not empty

30. Create a nested set (hint: use frozenset).

In [52]:
a = {1, 2, 3, 4, 5}
b = {6, 7, 8, 9, 10}

In [57]:
set_3 = frozenset(a)
set_4 = frozenset(b)

In [58]:
nested_set = {set_3, set_4}

In [59]:
print(nested_set)

{frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

1. Create a two set inside the variable a and b 
2. Convert both the sets inside a anb into the frozen set and then store into the variable set 3 and set 4
3. Create another set inside the we are putting variable of set 3 and set 4 and store inside the variable nested_set
4. Print the result

31. Remove an element from a set using the discard method.

In [60]:
a = {1, 2, 3, 4, 5}

In [61]:
a.discard(2)
print(a)

{1, 3, 4, 5}

1. Create a set inside the variable a 
2. By using discard method inside the discard function mention which element to remove from the set.
3. Print the result

32. Compare two sets.

In [63]:
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

In [64]:
is_subset = set1.issubset(set2)
is_superset = set1.issuperset(set2)
intersection = set1.intersection(set2)
union = set1.union(set2)
difference1 = set1.difference(set2)
difference2 = set2.difference(set1)

In [65]:
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {6, 7, 8, 9, 10}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: set()
Union: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Elements in set1 but not in set2: {1, 2, 3, 4, 5}
Elements in set2 but not in set1: {6, 7, 8, 9, 10}

1. We define two sets set1 and set2 containing some elements.
2. We use various set operations to compare the two sets:
3. issubset() checks if set1 is a subset of set2.
4. issuperset() checks if set1 is a superset of set2.
5. intersection() finds the common elements between the sets.
6. union() finds the combined set of unique elements from both sets.
7. difference() finds the elements that are in the first set but not in the second set, and vice versa.
8. We print out the original sets, the comparison results, the intersection, the union, and the differences.

33. Create a set from a string.

In [81]:
a = 'Python'

In [83]:
b = set(a)
print(b)

{'y', 'n', 't', 'P', 'h', 'o'}

1. Inside the variable a we define one string
2. By using type conversion method set(a) it will convert the string into the set
3. Print the result in the sorted form

34. Convert a set of strings to a set of integers.

In [71]:
a = {'1' ,'2', '3', '4', '5'}

In [73]:
b = set()
for i in a:
    b.add(int(i))
print(b)

{1, 2, 3, 4, 5}

1. Create a set inside the variable a inside the set having data type of string
2. Create another b having an empty set
3. By using for loop in a it will iterate through all the character inside a and then by using type conversion from string into integer then add it to set b
4. Print the result

35. Convert a set of integers to a set of strings.

In [74]:
a = {1, 2, 3, 4, 5}

In [80]:
b = set()
for i in a:
    b.add(str(i))
print(b)

{'3', '4', '1', '2', '5'}

1. Create a set inside the variable a inside the set having data type of string
2. Create another b having an empty set
3. By using for loop in a it will iterate through all the character inside a and then by using type conversion from integer into string then add it to set b
4. Print the result

36. Create a set from a tuple.

In [84]:
a = (1, 2, 3, 4, 5)

In [85]:
b = set(a)
print(b)

{1, 2, 3, 4, 5}

1. Create a tuple inside the variable a 
2. To convert the tuple into set we use a type conversion method set(a) it will convert the tuple into set.
3. Print the result

37. Convert a set to a tuple.

In [86]:
a = {1, 2, 3, 4, 5}

In [87]:
b = tuple(a)
print(b)

(1, 2, 3, 4, 5)

1. Create a set inside the variable a 
2. To convert the set into tuple we use a type conversion method tuple(a) it will convert the set into tuple.
3. Print the result

38. Find the maximum value in a set.

In [88]:
a = {100, 80 , 90, 70, 95, 60}

In [89]:
max(a)

100

1. Create a set inside the variable a 
2. By using the max function it will which number is the greatest among all the numbers 
3. Print the result

39. Find the minimum value in a set.

In [90]:
a = {100, 80 , 90, 70, 95, 60}

In [91]:
min(a)

60

1. Create a set inside the variable a 
2. By using the min function it will find which number is the smallest among all the numbers 
3. Print the result

40. Create a set from user input.

In [92]:
a = input('Enter something: ')

Enter something:  python

In [93]:
b = set(a)
print(b)

{'y', 'n', 't', 'h', 'p', 'o'}

1. Create a variable a which takes input from the user  
2. convert all the character at which the user type into set by using type conversion set (a) and store into the variable b
3. Print the result

41. Check if the intersection of two sets is empty.

In [97]:
a = {1, 2, 3, 4, 5}
b = {6, 7, 8, 9, 10}

In [99]:
if not a.intersection(b):
    print('Intersection of two sets is empty')
else:
    print('Intersection of two sets is not empty')

Intersection of two sets is empty

1. Create a two set inside the variable a and b
2. By using conditional state if any element is common between these two set i.e a is intersetion b if any element is present in these set then print intesection between these two set is not empty otherwise print intersection of two set is empty

42. Create a set of the first 5 Fibonacci numbers.

In [109]:
fibonacci_set = set()

In [111]:
a, b = 0, 1
for i in range(6):
    fibonacci_set.add(a)
    a, b = b, a + b
print(fibonacci_set)

{0, 1, 2, 3, 5}

1. Create a empty set inside the variable called fibonacci_set
2. For initialization we created two more variables a and b and assign the value 0 and 1
3. By using for loop with in the range of 1 to 6 we are adding first number i.e inside variable a and then we are iterating the for loop 5 times
4. We update the values of a and b to calculate the next Fibonacci number. This is done by swapping the values: a becomes b and b becomes the sum of the previous a and b.
5. Print the result

43. Remove duplicates from a list using sets.

In [112]:
a = [1, 1, 2, 2, 3, 3, 4, 4, 5, 5]

In [113]:
b = set(a)
print(b)

{1, 2, 3, 4, 5}

1. Create a list inside the variable a
2. By using type conversion method we are converting list into the set.
3. The set has the property that it will take only unique element if any duplicate element is present then it will remove in set.

44. Check if two sets have the same elements, regardless of their count.

In [114]:
a = {1, 2, 3, 4, 5, 6, 7, 8}
b = {6, 7, 8}

In [117]:
def same_element(a, b):
    for i in b:
        if i in a:
            return 'Two sets have same element'
        else:
            return 'These sets does not have the same element'

In [118]:
same_element(a,b)

'Two sets have same element'

1. Create a two sets inside the variable a and b.
2. Creating function same element these function will check if the element from set 2 is present in set 1 or not
3. If its true then print these two sets have same element.

45. Create a set of the first `n` powers of 2.

In [119]:
a = set()
n = 5

In [121]:
for i in range(1, n):
    a.add(2 **i)
print(a)

{32, 2, 4, 8, 16}

1. Create a empty set inside the variable a 
2. Create another variable n which is having a value of 5.
3. By using for loop it will iterate through within the range of 1 to n which is having value 5 then it will add the numbers having power of 2
4. Print the result

46. Find the common elements between a set and a list.

In [124]:
a = {1, 2, 3, 4, 5, 6}
b = [1, 2, 8]

In [125]:
c = set(b)
common_element= []
for i in b:
    if i in a:
        common_element.append(i)
print(common_element)

[1, 2]

1. Create a set inside the variable a
2. Create a list inside the variable b 
3. Create another variable called common element which is having a empty list
4. First we convert list into set the using for loop in variable c it will iterate all the characters in set c
5. By using conditional statement if any number is present in set a then it add into the common_element list
6. Print the result

47. Create a set of the first `n` triangular numbers.

In [129]:
a =set()
n = 10

In [131]:
for i in range(1, n+1):
    b = (i* (i+1)//2)
    a.add(b)
print(a)

{1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

1. Create a empty set inside the variable a
2. create another variable n which takes input from the user
3. By using for loop in the range between 1 to n+1 and declaring variable b inside that variable we are definig formulae for triangular numbers
4. Then those triangular numbers will be add to set a and print the result

48. Check if a set contains another set as a subset.

In [132]:
a = {1, 2, 3, 4, 5, 6}
b = {3, 2, 1}

In [133]:
if b.issubset(a):
    print('Set b is the subset of set a')
else:
    print('set b is not the subset of set a')

Set b is the subset of set a

1. Create a two sets inside the variabp=le a and b
2. By using conditional statement if set b is the subset of set a i. a.issubset(a). If it is true then print set b is the subset of set a otherwise set b is not the subset of set a

49. Create a set of alternating 1s and 0s of length `n`.

In [138]:
a = set()
n = 10

In [140]:
for i in range(1, n):
    if i % 2 == 0:
        a.add(0)
    else:
        a.add(1)
print(a)

{0, 1}

1. create a empty set a 
2. create another variable n
3. BY using for loop in the range 1 to variable n which is having the value of 10 it will iterate all the numbers and if that number is divided by 2 is equal to 0 then it will add to set a and else it wil add 1 to set a 
4. But we know set can only have unique value it cannot add the same number again and again.
5. Print the result

50. Merge multiple sets into one.

In [141]:
a = {1, 2, 3, 4, 5}
b = {6, 7, 8, 9, 10}
c = {11, 12, 13, 14, 15}

In [142]:
merge_set = a.union(b, c)
print(merge_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

1. Create a three set into the variable a, b and c
2. By using union method in set it will merge the set into 1 set but it will not add the duplicate value in that set
3. It will add only the unique value and 1st instance of that value.
4. Print the result